doctype html
html
  head
    meta(charset='utf-8')
    title Iron Chef
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Iron Chef mark II
    nav
      ul
        li: a(href='/') Home
    each recipe in recipes
      #recipe
        ul
          li: img(src='#{recipe.photo}')
          li= recipe.name
          li= recipe.ingredients
          li= recipe.steps
